apiVersion: apps/v1
kind: Deployment
metadata:
  name: janitor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: janitor
  template:
    metadata:
      labels:
        app: janitor
    spec:
      serviceAccountName: vault-agent-injector
      containers:
        - name: janitor
          image: ghcr.io/ozuyatamutsu/project-overengineer/janitor:v1
          env:
            - name: SENTINEL_HOST
              value: svc-redis-sentinel.default.svc.cluster.local
            - name: SENTINEL_PORT
              value: "26379"
            - name: REDIS_HOST
              value: svc-redis-master.default.svc.cluster.local
            - name: REDIS_PORT
              value: "6379"
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-secret
                  key: REDIS_PASSWORD
            - name: MYAPP_CONFIG
              valueFrom:
                secretKeyRef:
                  name: janitor-config
                  key: config.txt
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 10
            timeoutSeconds: 5
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 30
            failureThreshold: 5
            successThreshold: 1
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
          securityContext:
            readOnlyRootFilesystem: true
      volumes:
        - name: tmp
          emptyDir: {}
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        runAsNonRoot: true