apiVersion: apps/v1
kind: Deployment
metadata:
  name: janitor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: janitor
  template:
    metadata:
      labels:
        app: janitor
    spec:
      containers:
        - name: janitor
          image: ghcr.io/ozuyatamutsu/project-overengineer/janitor:v1
          imagePullPolicy: Always
          env:
            - name: SENTINEL_HOST
              value: svc-redis-sentinel.default.svc.cluster.local
            - name: SENTINEL_PORT
              value: "26379"
            - name: VAULT_HOST
              value: svc-vault.default.svc.cluster.local
            - name: VAULT_PORT
              value: "8200"
            - name: VAULT_RO_TOKEN
              valueFrom:
                secretKeyRef:
                  name: vault-ro-token
                  key: token
            # REDIS_HOST, REDIS_PORT, and REDIS_PASSWORD (not specified here)
            # are pulled from vault in-cluster at runtime, and refreshed regularly.
            - name: REDIS_HOST
              value: svc-redis-master.default.svc.cluster.local
            - name: REDIS_PORT
              value: "6379"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 10
            timeoutSeconds: 5
            periodSeconds: 3
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 30
            failureThreshold: 5
            successThreshold: 1
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
          securityContext:
            readOnlyRootFilesystem: true
      volumes:
        - name: tmp
          emptyDir: {}
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        runAsNonRoot: true