apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-config
  labels:
    app: vault
data:
  vault.hcl: |
    ui = true
    cluster_name = "vault"

    listener "tcp" {
      address     = "0.0.0.0:8200"
      cluster_address = "0.0.0.0:8201"
      tls_cert_file     = "/vault/tls/vault-chain.pem"
      tls_key_file      = "/vault/tls/vault.key"
    }

    storage "raft" {
      path    = "/vault/data"
    }

    api_addr     = "https://svc-vault.default.svc.cluster.local:8200"
    cluster_addr = "https://svc-vault.default.svc.cluster.local:8201"
    disable_mlock = true

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: vault
spec:
  serviceName: svc-vault
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: vault
                topologyKey: "kubernetes.io/hostname"
      serviceAccountName: vault-init
      securityContext:
        runAsUser: 100
        runAsGroup: 100
        fsGroup: 100
        runAsNonRoot: true
      containers:
        - name: vault
          image: ghcr.io/ozuyatamutsu/project-overengineer/vault:v1
          ports:
            - name: http
              containerPort: 8200
            - name: internal
              containerPort: 8201
          env:
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          volumeMounts:
            - name: config
              mountPath: /vault/config
            - name: data
              mountPath: /vault/data
          readinessProbe:
            httpGet:
              path: /v1/sys/health?standbyok=true&uninitcode=200&sealedcode=200
              port: 8200
              scheme: HTTPS
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /v1/sys/health?standbyok=true&uninitcode=200&sealedcode=200
              port: 8200
              scheme: HTTPS
            initialDelaySeconds: 60
            periodSeconds: 30
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
          securityContext:
            readOnlyRootFilesystem: true
        - name: vault-init
          image: ghcr.io/ozuyatamutsu/project-overengineer/vault-init:v1
          env:
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          volumeMounts:
            - name: config
              mountPath: /vault/config
            - name: data
              mountPath: /vault/data
            - name: login-token
              mountPath: /home/vault
              subPath: .vault-token.tmp
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
          securityContext:
            readOnlyRootFilesystem: true
      volumes:
        - name: config
          configMap:
            name: vault-config
        - name: data
          emptyDir: {}
        - name: login-token
          emptyDir: {}
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 512Mi

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: vault-init

---

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: vault-init-role
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get"]
  - apiGroups: ["apps"]
    resources: ["statefulsets"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["pods/exec"]
    verbs: ["create"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "create"]

---

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: vault-init-binding
subjects:
  - kind: ServiceAccount
    name: vault-init
roleRef:
  kind: Role
  name: vault-init-role
  apiGroup: rbac.authorization.k8s.io

---

apiVersion: v1
kind: Service
metadata:
  name: svc-vault
spec:
  clusterIP: None
  ports:
    - name: http
      port: 8200
    - name: internal
      port: 8201
  selector:
    app: vault
