apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis-master
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-master
  template:
    metadata:
      labels:
        app: redis-master
    spec:
      containers:
        - name: redis-master
          image: ghcr.io/ozuyatamutsu/project-overengineer/redis-master:v1
          env:
            - name: REDIS_PORT
              value: "6379"
            # TODO
            - name: REDIS_PASSWORD
              value: "b4yscx92yksfyv9c"
          readinessProbe:
            exec:
              command:
              - redis-cli
              - ping
            initialDelaySeconds: 10
            timeoutSeconds: 5
            periodSeconds: 3
          livenessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 30
            failureThreshold: 5
            successThreshold: 1
          ports:
            - containerPort: 6379
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "1000m"
              memory: "1Gi"
          securityContext:
            readOnlyRootFilesystem: true
          volumeMounts:
          - name: data
            mountPath: /data
      securityContext:
        runAsUser: 999  # redis user
        runAsGroup: 999  # redis group
        fsGroup: 999  # redis group
        runAsNonRoot: true
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 256Mi

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis-replica
spec:
  replicas: 2
  selector:
    matchLabels:
      app: redis-replica
  template:
    metadata:
      labels:
        app: redis-replica
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: redis-replica
                topologyKey: "kubernetes.io/hostname"
      containers:
        - name: redis-replica
          image: ghcr.io/ozuyatamutsu/project-overengineer/redis-replica:v1
          env:
            - name: REDIS_REPLICA_PORT
              value: "6379"
            - name: REDIS_HOST
              value: svc-redis-master.default.svc.cluster.local
            - name: REDIS_PORT
              value: "6379"
            # TODO
            - name: REDIS_PASSWORD
              value: "b4yscx92yksfyv9c"
          readinessProbe:
            exec:
              command:
              - sh
              - -c
              - redis-cli -h $REDIS_HOST ping
            initialDelaySeconds: 20
            timeoutSeconds: 5
            periodSeconds: 3
          livenessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 5
            failureThreshold: 5
            successThreshold: 1
          ports:
            - containerPort: 6379
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "1000m"
              memory: "1Gi"
          securityContext:
            readOnlyRootFilesystem: true
          volumeMounts:
          - name: data
            mountPath: /data
      securityContext:
        runAsUser: 999  # redis user
        runAsGroup: 999  # redis group
        fsGroup: 999  # redis group
        runAsNonRoot: true
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 256Mi

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-sentinel
spec:
  replicas: 3
  selector:
    matchLabels:
      app: redis-sentinel
  template:
    metadata:
      labels:
        app: redis-sentinel
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: redis-sentinel
                topologyKey: "kubernetes.io/hostname"
      containers:
        - name: redis-sentinel
          image: ghcr.io/ozuyatamutsu/project-overengineer/redis-sentinel:v1
          env:
            - name: SENTINEL_PORT
              value: "26379"
            - name: REDIS_HOST
              value: svc-redis-master.default.svc.cluster.local
            - name: REDIS_PORT
              value: "6379"
            # TODO
            - name: REDIS_PASSWORD
              value: "b4yscx92yksfyv9c"
          readinessProbe:
            tcpSocket:
              port: 26379
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 5
            failureThreshold: 5
            successThreshold: 1
          livenessProbe:
            tcpSocket:
              port: 26379
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 5
            failureThreshold: 5
            successThreshold: 1
          ports:
            - containerPort: 26379
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
          securityContext:
            readOnlyRootFilesystem: true
          volumeMounts:
          - mountPath: /tmp/redis-sentinel
            name: sentinel-config
      securityContext:
        runAsUser: 999  # redis user
        runAsGroup: 999  # redis group
        fsGroup: 999  # redis group
        runAsNonRoot: true
      volumes:
        - emptyDir: {}
          name: sentinel-config

---

apiVersion: v1
kind: Service
metadata:
  name: svc-redis-master
spec:
  clusterIP: None
  selector:
    app: redis-master
  ports:
    - port: 6379
      targetPort: 6379
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  name: svc-redis-sentinel
spec:
  selector:
    app: redis-sentinel
  ports:
    - port: 26379
      targetPort: 26379
  type: ClusterIP
