name: Deploy
on:
  push:
    branches:
      - main
  workflow_run:
    workflows: ["Build and Push Images"]
    types:
      - completed

jobs:
  deploy-test:
    runs-on: ubuntu-latest
    steps:
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1

      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Deploy vault
        run: kubectl apply -f vault/service.yaml
      
      - name: Wait for vault apply (max 90s)
        run: kubectl rollout status statefulset/vault --timeout=90s

      - name: Deploy redis-master, redis-replica, redis-sentinel
        run: kubectl apply -f redis/service.yaml
      
      - name: Deploy janitor
        run: kubectl apply -f janitor/service.yaml
      
      - name: Deploy status-api
        run: kubectl apply -f status-api/service.yaml

      - name: Deploy ocr-worker, ollama-ocr
        run: kubectl apply -f ocr-worker/service.yaml

      - name: Deploy project-overengineer-fe
        run: kubectl apply -f project-overengineer-fe/service.yaml

      - name: Wait for apply (max 300s/service)
        run: |
          echo '[waiting for redis-master]'
          kubectl rollout status statefulset/redis-master --timeout=300s
          echo '[waiting for redis-replica]'
          kubectl rollout status statefulset/redis-replica --timeout=300s
          echo '[waiting for redis-sentinel]'
          kubectl rollout status deployment/redis-sentinel --timeout=300s
          echo '[waiting for janitor]'
          kubectl rollout status deployment/janitor --timeout=300s
          echo '[waiting for status-api]'
          kubectl rollout status deployment/status-api --timeout=300s
          echo '[waiting for ocr-worker, ollama-ocr]'
          kubectl rollout status statefulset/ocr-worker --timeout=300s
          echo '[waiting for project-overengineer-fe]'
          kubectl rollout status statefulset/project-overengineer-fe --timeout=300s

      - name: Dump logs (if apply failed)
        if: failure()
        run: |
          echo 'Dumping logs...'
          echo '[vault logs]'
          kubectl logs --all-containers --selector=app=vault
          kubectl logs --all-containers --selector=app=vault --previous || true
          echo '[redis-master logs]'
          kubectl logs --all-containers --selector=app=redis-master
          kubectl logs --all-containers --selector=app=redis-master --previous || true
          echo '[redis-replica logs]'
          kubectl logs --all-containers --selector=app=redis-replica
          kubectl logs --all-containers --selector=app=redis-replica --previous || true
          echo '[redis-sentinel logs]'
          kubectl logs --all-containers --selector=app=redis-sentinel
          kubectl logs --all-containers --selector=app=redis-sentinel --previous || true
          echo '[janitor logs]'
          kubectl logs --all-containers --selector=app=janitor
          kubectl logs --all-containers --selector=app=janitor --previous || true
          echo '[status-api logs]'
          kubectl logs --all-containers --selector=app=status-api
          kubectl logs --all-containers --selector=app=status-api --previous || true
          echo '[ocr-worker, ollama-ocr logs]'
          kubectl logs --all-containers --selector=app=ocr-worker
          kubectl logs --all-containers --selector=app=ocr-worker --previous || true
          echo '[project-overengineer-fe logs]'
          kubectl logs --all-containers --selector=app=project-overengineer-fe
          kubectl logs --all-containers --selector=app=project-overengineer-fe --previous || true
