name: CI
on:
  push:

jobs:
  lint-k8s-config:
    runs-on: ubuntu-latest
    container:
      image: golang:trixie
    steps:
      - name: Install dependencies
        run: go install golang.stackrox.io/kube-linter/cmd/kube-linter@latest
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Lint Kubernetes yaml
        run: kube-linter lint .

  lint-fe-and-transformer:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.50.0-noble
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: project-overengineer-fe
        run: pnpm install

      - name: Lint
        working-directory: project-overengineer-fe
        run: pnpm run lint

  lint-status-api:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.50.0-noble
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: status-api
        run: pnpm install

      - name: Lint
        working-directory: status-api
        run: pnpm run lint

  lint-ocr-core:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.50.0-noble
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: ocr-worker
        run: pnpm install

      - name: Lint
        working-directory: ocr-worker
        run: pnpm run lint

  lint-janitor:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.50.0-noble
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: janitor
        run: pnpm install

      - name: Lint
        working-directory: janitor
        run: pnpm run lint

  lint-shared-lib:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.50.0-noble
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: shared-lib
        run: pnpm install

      - name: Lint
        working-directory: shared-lib
        run: pnpm run lint

  unit-test-fe-and-transformer:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.50.0-noble
    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379
      vault:
        image: hashicorp/vault:1.18
        ports:
          - 8200:8200
        options: --cap-add=IPC_LOCK
        env:
          VAULT_DEV_ROOT_TOKEN_ID: root
          VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
    needs: lint-fe-and-transformer
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: project-overengineer-fe
        run: pnpm install

      - name: Run Playwright Tests
        working-directory: project-overengineer-fe
        run: REDIS_HOST=redis REDIS_PORT=6379 REDIS_PASSWORD=b4yscx92yksfyv9c VAULT_HOST=vault _SKIP_VAULT_UNIT_TESTING=true pnpm test
      
      - name: Upload test report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/

  unit-test-status-api:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.50.0-noble
    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379
      vault:
        image: hashicorp/vault:1.18
        ports:
          - 8200:8200
        options: --cap-add=IPC_LOCK
        env:
          VAULT_DEV_ROOT_TOKEN_ID: root
          VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
    needs: lint-status-api
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: status-api
        run: pnpm install
      
      - name: Build
        working-directory: status-api
        run: pnpm build

      - name: Run Playwright Tests
        working-directory: status-api
        run: REDIS_HOST=redis REDIS_PORT=6379 REDIS_PASSWORD=b4yscx92yksfyv9c STATUS_API_PORT=3001 VAULT_HOST=vault _SKIP_VAULT_UNIT_TESTING=true pnpm test
      
      - name: Upload test report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/

  unit-test-ocr-core:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.50.0-noble
    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379
      ollama-ocr:
        image: jinhaiket/project-overengineer-ollama:amd64
        ports:
          - 11434:11434
    needs: lint-ocr-core
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: ocr-worker
        run: pnpm install
      
      - name: Build
        working-directory: shared-lib
        run: pnpm build

      - name: Run Playwright Tests
        working-directory: ocr-worker
        run: REDIS_HOST=redis REDIS_PORT=6379 REDIS_PASSWORD=b4yscx92yksfyv9c OCR_ENDPOINT=http://ollama-ocr:11434 pnpm test
      
      - name: Upload test report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/

  unit-test-janitor:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.50.0-noble
    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379
    needs: lint-janitor
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: janitor
        run: pnpm install
      
      - name: Build
        working-directory: janitor
        run: pnpm build

      - name: Run Playwright Tests
        working-directory: janitor
        run: REDIS_HOST=redis REDIS_PORT=6379 REDIS_PASSWORD=b4yscx92yksfyv9c pnpm test
      
      - name: Upload test report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/

  unit-test-shared-lib:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.50.0-noble
    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379
      vault:
        image: hashicorp/vault:1.18
        ports:
          - 8200:8200
        options: --cap-add=IPC_LOCK
        env:
          VAULT_DEV_ROOT_TOKEN_ID: root
          VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
    needs: lint-shared-lib
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: shared-lib
        run: pnpm install
      
      - name: Build
        working-directory: shared-lib
        run: pnpm build

      - name: Run Playwright Tests
        working-directory: shared-lib
        run: REDIS_HOST=redis REDIS_PORT=6379 REDIS_PASSWORD=b4yscx92yksfyv9c VAULT_HOST=vault VAULT_PORT=8200 VAULT_RO_TOKEN=root pnpm test
      
      - name: Upload test report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/